CONFIG_EXPERT=y
CONFIG_PREEMPT=y
CONFIG_HZ_100=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_VMAP_STACK=y
CONFIG_PRINTK=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_OF_PLATFORM=y
# CONFIG_KUNIT is not set
# CONFIG_KUNIT_ALL_TESTS is not set
# CONFIG_MODULES is not set
# CONFIG_NET is not set
# CONFIG_BLOCK is not set
# CONFIG_VT is not set
# CONFIG_STACKPROTECTOR is not set
# CONFIG_FTRACE is not set
# CONFIG_INPUT is not set
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
# CONFIG_COREDUMP is not set
# CONFIG_MMIX_BOOT_TEST is not set
CONFIG_TMPFS=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_DEVTMPFS=y
CONFIG_PROC_FS=y
